.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

/* header */

.header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
  border-bottom: 3px solid #eee;
}

.userImage {
  width: 40px;
  height: 40px;
}

.userImage img {
  width: 100%;
}

.userAdmin {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* sidebar */

.sidebar {
  grid-column: 1/3;
  grid-row: 2/-1;
  border-right: 3px solid #eee;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  width: 100%;
  padding: 1rem;
}
.sidebar ul li:hover {
  background-color: #e1e1e1;
}

/* mainView */
.MainViewContainer {
  grid-column: 3/-1;
  grid-row: 2/-1;
  padding: 4rem;
}

.mainHead {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2rem;
}

/* modal */
.modalContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(111, 110, 110, 0.951);
}

.modalContainer form {
  padding: 2rem;
  border: 2px solid rgb(41, 41, 241);

  border-radius: 1rem;
  position: relative;
  width: 600px;
  background: white;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-block-end: 1rem;
}
.field input,
select {
  width: 70%;

  border-radius: 0.45rem;
  padding: 0.5rem 0.75rem;
  color: black;
}

form h4 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.close {
  position: absolute;
  right: -10px;
  top: -10px;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(41, 41, 241);
}

.alert p {
  margin: 0;
  color: brown;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-danger {
  border: 2px solid brown;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin-block-end: 2rem;
}
